[user]
	email = 96662442+oliverharcourt@users.noreply.github.com
	name = Oliver Harcourt
	signingkey = /Users/oliverharcourt/.ssh/id_ed25519.pub

[core]
	editor = nvim

[gpg]
	format = ssh

[commit]
	gpgsign = true
